<!DOCTYPE html>
<html lang="en" ng-app="smartHouseApp">
	<meta name="viewport" content="width=400, initial-scale=1">
	<head>
		<script src="./bower_components/socket.io-client/socket.io.js"></script>
		<script src="./bower_components/moment/moment.js"></script>
		<script src="./bower_components/moment-timezone/moment-timezone.js"></script>
		<script src="./bower_components/angularjs/angular.min.js"></script>
		<script src="./bower_components/d3/d3.js"></script>
		<script src="./bower_components/jquery/dist/jquery.min.js"></script>
		<script src="./bower_components/bootstrap/js/collapse.js"></script>
		<script src="util.js"></script>
		<script src="app.js"></script>
		<script src="d3.js"></script>
		<script>
			var socket = io();

			socket.on('sensor', function(msg){
				if(IsDataItemValid(msg)) {
					d3Item.push(msg);
					UpdateGraph(d3Item);
				}
			})
		</script>
		
		<style>
			path {
				stroke: steelblue;
				stroke-width: 3;
				fill: none;
			}
		</style>
		<link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="stuff.css" rel="stylesheet">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Tennringen 4">
		<link rel="apple-touch-icon" href="images/icons/home.png">		

		<meta name="msapplication-TileImage" content="images/icons/home.png">
		<meta name="msapplication-TileColor" content="#2F3BA2">    		
	</head>
	<body ng-controller="mainController">
		<button class="btn btn-default" ng-click='addDefaultSchedule()'>Add Default Schedule</button>
		<div class="panel panel-default">
			<div class="panel-body">
				Set schedule for all devices:
				<input type="time" ng-model="globalTurnOn" />
				<input type="time" ng-model="globalTurnOff" />
				<button ng-click='getLightData()'>Get Light Data</button>
				<button type=submit ng-click='setGlobalSchedule()'>Set</button>
		</div></div>
		<div class="panel-group" id="accordion" role="tablist">
			<div class="device" ng-repeat="device in devices | orderBy:['noSchedules','name']">
				<div class="panel panel-default">
					<div class="panel-heading"><h3><span class="device-desc">{{device.name}}</span></h3></div><div class="panel-body">
					<div class="col-md-6">
						<button class="btn btn-default" ng-click='turnOn(device.id)'>Turn on</button> 
						<button class="btn btn-default" ng-click='turnOff(device.id)'>Turn off</button>
					</div>
					<div class="col-md-3">Turn on: <input type="time" ng-model=device.turnOn ng-required="!device.turnOn" /></div>
					<div class="col-md-3">Turn off: <input type="time" ng-model=device.turnOff ng-required="!device.turnOff" /></div>
					<div class="col-md-4"><button type="submit" class="btn btn-default" ng-click='addSchedule(device)'>Add</button></div>
					<!--<button type=submit ng-click='setSchedule(device)'>Set</button>-->
					<div class="col-md-12">Current schedules</div>
					<div class="col-md-12">
						<ul>
							<li ng-repeat="schedule in device.schedules">{{schedule.text}}
						</ul>
						<select ng-model="device.activeSchedule" ng-options="schedule.text for schedule in device.schedules track by schedule.id"></select>
						<button class="btn btn-default" type="submit" ng-click='removeSchedule(device)'>Remove</button></div></div></div>
			</div>
		</div>
		Ha ljusen på i en timme, släck sedan
	</div>
</div>

<p>Current servertime is {{currServerTime}}</p>
<p>Dusk is at {{dusk}}</p>
<button ng-click='getAllSchedules()'>Get all Schedules</button>
</body>
</html>
